// FORM STYLES

form {
    background-color: antiquewhite;
    // RELATIONSHIP QUESTION STYLES==================
    .relationship {
        display: flex;
        justify-content: center;
        padding: 10rem 0;
        .relationship-question {
            width: 50%;
            .question-title {
                margin: 0;
                line-height: 1;
            }
        }
        .relationship-inputs {
            width:50%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        @include breakPoint(break3) {
            .relationship-question{
                width: 90%;
                padding: 0;
            }
            .relationship-inputs {
                width: 100%;
            }
        }
        @include breakPoint(break8) {
            padding: 5rem 0;
            flex-direction: column;
            align-items:center;
        }
    }
    // MODE QUESTION STYLES=========================
    .mode {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10rem 0;
        .mode-inputs {
            width: 40%;
            display: flex;
            flex-direction: column;
            align-items: center;

        }
        .mode-question {
            width: 60%;
            text-align: right;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            .mode-main-question, .mode-title {
                display:block;
            }
            .align-right {
                width: 100%;
                padding-left: 15rem;
            }
        }
        @include breakPoint(break3){
            width: 90%;
            justify-content: flex-start;
            .mode-question {
                width: 100%;
                .align-right {
                    padding: 0;
                    
                }
            }
        }
        // @include breakPoint
    }
    // TONE QUESTION STYLINGS=======================
    .tone {
        padding: 10rem 0;
        background-color: lightgrey;
        .tone-question {
            display: flex;
            flex-direction: column;
            align-items: center;
            h2.tone-title, p.tone-main-question {
                display: block;
                text-align: center;
            }
            .tone-flexcontainer {
                width: 100%;
                display: flex;
                flex-direction: row-reverse;
                justify-content: center;
                align-items: center;
                margin: auto;
                .left-tone {
                    width: 30%;
                }
                .tone-icon {
                    width:40%;
                    padding: 2rem;
                    text-shadow: 0 0 5px lightgrey;
                    @include breakPoint(break2){
                        display: none;
                    }
                }
                .right-tone {
                    width: 25%;
                }
                @include breakPoint(break1) {
                    justify-content: space-between;
                    .left-tone, .right-tone {
                        width: 45%;
                    }
                }
                @include breakPoint(break5){
                    width: 90%;
                }
                @include breakPoint(break6){
                    flex-direction: column;
                    .left-tone, .right-tone {
                        width: 80%;
                    }
                }
            }
        }
        .tone-inputs {
            display: flex;
            justify-content: center;
        }
    }
    // EMPHASIS STYLING BEGINS=======================
    .emphasis {
        padding: 10rem 0;
        .emphasis-inputs {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            .emphasis.left {
                width: 50%;
            }
            .emphasis-right {
                width: 50%;
                position: relative;
                .emphasis-icon {
                    width: 300px;
                    position: absolute;
                    right: 50%;    
                }
            }
        }
        @include breakPoint(break6){
                width:90%;
                .emphasis-inputs .emphasis-nodec {
                    width: 250px;
                }
            }
        .submit-container {
            display: flex;
            justify-content: center;
            padding: 2rem 0;
            .submit-button {
                width: 400px;
                @include breakPoint(break7){
                    font-size: 2rem;
                    width: 250px;
                    background-color: #fae16c;
                    color: black;
                }
            }
        }
    }
}


// input stylings==============================
.question-option {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    padding: 1rem 0;
    width: 100%;
    .fas, .fab {
        color: #fae16c;
        text-shadow: 1px 1px 8px darkslategrey;
    }
}
.question-option, .fas, .fab {
    @include breakPoint(break2){
        font-size: 3rem;
    }
    @include breakPoint(break8) {
        font-size: 2rem;
    }
}

.emphasis-nodec {
    width: 550px;
}




// hiding the radio button
input[type = radio] {
    visibility:hidden;
}
label {
    cursor: pointer;
    padding: 5px;
    width: 300px;
    font-size: 3rem;
    border-radius: 2px;
    @include breakPoint(break2) {
        font-size: 2.5rem;
        background: tomato;
        border-radius: 35% 2rem 2rem 40%;
        box-shadow: 2px 0 5px darkslategray;
        width: 180px;
    }
    @include breakPoint(break8){
        font-size: 2rem;
    }
    &:hover {
        background: tomato;
        border-radius: 35% 2rem 2rem 40%;
        box-shadow: 2px 0 5px darkslategray;
    }
}
input:checked + label {
    background: #fae16c;
    border-radius: 35% 2rem 2rem 40%;
    box-shadow: 2px 0 5px darkslategray;
}