// HEADER STYLES
header {
   height: 100vh;
   position: relative;
   margin-bottom: 10rem;
   .header-title {
      h1 {
         width: 100%;
         position: absolute;
         top: 30%;
         display: flex;
         align-items:center;
         justify-content:center;
         z-index: 10;
         font-size: 6rem;
         letter-spacing: 5px;
         color: black;
         text-shadow: 0 0 10px white;
         
      }
   }

   .header-hero {
      .hero {
         display: flex;
         justify-content: space-around;
         flex-direction: row;
         align-content: center;
         position: relative;
         .half {
            height: 100vh;
            width: 50%;
            text-align: center;
         }
         .half1 {
            background: #fae16c;
         }
         .half2 {
            background:#42636f;
         }
         .header-button {
            position: absolute;
            bottom: 30%;
            left: 50%;
            transform: translateX(-50%);
         }
      }
   }
}

// span styling
.bang {
   font-family: $font-title;
   font-size: 10rem;
   letter-spacing: 4px;
   color: black;
   padding: 2rem;
   
}
.bang1 {
   text-shadow: 0 0 15px white;
}
.bang2 {
   text-shadow: 0 0 15px white;
}

// instructions styling
.instructions {
   padding: 10rem 0;
   .container {
      background: rgba(245,255,250,0.5);
      padding: 5rem 10rem;
      line-height: 2;
      font-size: 2rem;
   }
}

.how-to-link {
   position: fixed;
   bottom: 5%;
   right: 10%;
   font-size: 5rem;
   text-decoration: none;
   color: tomato;

}