// IMPORTANT PARTIALS
@import 'partials/setup.scss';
@import 'partials/utils.scss';
@import 'partials/typography.scss';
@import 'partials/header.scss';
@import 'partials/form.scss';
@import 'partials/footer.scss';

// GENERAL STYLES
html {
    font-size: 62.5%;
}
body {
   background: antiquewhite;
   font-family: $font-body;
   padding: 0;
   margin: 0;
   font-size: 1.6rem;
}
.wrapper {
    width: 65%;
    max-width: 1080px;
    margin: 0 auto;
    @include breakPoint(break3){
        width: 90%;
    }
}
ul {
    list-style: none;
}
fieldset {
    border: none;
}
hr {
    height: 0.5rem;
    border: none;
    background: mintcream;
}
img {
    max-width: 100%;
    width: 100%;
}


// general responsive styles=================
.relation-question, .mode-main-question, .tone-main-question, .emphasis-main-question {
    font-weight: bold;
    @include breakPoint(break3){
        font-size: 3rem;
    }
    @include breakPoint(break8) {
        font-size:2.5rem;
    }
}

.button, .mobile-edit, .icon {
    @include breakPoint(break2){
        display: none;
    }
} 

// buttons=============================
.button, .submit-button {
    // position: absolute;
    width: 300px;
    height: 60px;
    // bottom: 30%;
    // left: 50%;
    // transform: translateX(-50%);
    padding: 10px;
    background-color: black;
    border: none;
    border-radius: 20px;
    font-family: $font-title;
    font-size: 3rem;
    color: tomato;
    border: 2px solid white;
    letter-spacing: 3px;
}
.button:hover, .submit-button:hover {
    background: #fae16c;

}
