article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* font-family: 'Bangers', cursive;
font-family: 'Rubik', sans-serif; */
.question-title {
  font-size: 2rem;
  color: tomato;
  text-transform: uppercase; }

.question {
  font-size: 5rem; }

.question-option {
  font-size: 3rem; }

header {
  height: 100vh;
  position: relative;
  margin-bottom: 10rem; }
  header .header-title h1 {
    width: 100%;
    position: absolute;
    top: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 10;
    font-size: 6rem;
    letter-spacing: 5px;
    color: black;
    text-shadow: 0 0 10px white; }
    @media (max-width: 1050px) {
      header .header-title h1 {
        font-size: 4rem; } }
    @media (max-width: 900px) {
      header .header-title h1 {
        font-size: 3rem; } }
    @media (max-width: 850px) {
      header .header-title h1 {
        bottom: -30%; } }
    @media (max-width: 750px) {
      header .header-title h1 {
        font-size: 2rem; } }
    @media (max-width: 650px) {
      header .header-title h1 {
        bottom: -20%; } }
    @media (max-width: 500px) {
      header .header-title h1 {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        bottom: -40%;
        left: -30%;
        width: 100%; } }
    @media (max-width: 425px) {
      header .header-title h1 {
        top: 0;
        left: 0;
        font-size: 3rem;
        line-height: 0.8; } }
  header .header-hero .hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-line-pack: center;
    align-content: center;
    position: relative; }
    header .header-hero .hero .half {
      height: 100vh;
      width: 50%;
      text-align: center; }
    header .header-hero .hero .half1 {
      background: #fae16c; }
      @media (max-width: 750px) {
        header .header-hero .hero .half1 {
          display: none; } }
    header .header-hero .hero .half2 {
      background: #42636f; }
      @media (max-width: 750px) {
        header .header-hero .hero .half2 {
          width: 100%; } }
    header .header-hero .hero .header-button {
      position: absolute;
      bottom: 30%;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
      @media (max-width: 750px) {
        header .header-hero .hero .header-button {
          width: 200px; } }
      @media (max-width: 650px) {
        header .header-hero .hero .header-button {
          bottom: 10%;
          left: 20%; } }
      @media (max-width: 500px) {
        header .header-hero .hero .header-button {
          font-size: 2rem;
          width: 150px; } }
      @media (max-width: 425px) {
        header .header-hero .hero .header-button {
          font-size: 3rem;
          width: 200px;
          bottom: 20%;
          left: 50%; } }

.bang {
  font-family: "Bangers", cursive;
  font-size: 10rem;
  letter-spacing: 4px;
  color: black;
  padding: 2rem; }
  @media (max-width: 1050px) {
    .bang {
      font-size: 8rem; } }
  @media (max-width: 750px) {
    .bang {
      font-size: 5rem;
      letter-spacing: 0.5px; } }

.bang1 {
  text-shadow: 0 0 15px white; }

.bang2 {
  text-shadow: 0 0 15px white; }

.instructions {
  padding: 10rem 0; }
  @media (max-width: 425px) {
    .instructions {
      padding: 1rem 0;
      margin: 0 auto; } }
  .instructions .container {
    background: rgba(245, 255, 250, 0.5);
    padding: 5rem 10rem;
    line-height: 2;
    font-size: 2rem; }
    @media (max-width: 900px) {
      .instructions .container {
        width: 80%;
        padding: 3rem; } }
    @media (max-width: 650px) {
      .instructions .container {
        font-size: 1.5rem; } }
    @media (max-width: 425px) {
      .instructions .container {
        padding: 1rem;
        line-height: 1.5;
        font-size: 1.8rem;
        width: 95%; } }

.how-to-link {
  position: fixed;
  bottom: 5%;
  right: 10%;
  font-size: 5rem;
  text-decoration: none;
  color: tomato; }
  @media (max-width: 1050px) {
    .how-to-link {
      right: 2%; } }
  @media (max-width: 750px) {
    .how-to-link {
      font-size: 3.5rem; } }
  .how-to-link:hover {
    color: #fae16c; }

form {
  background-color: antiquewhite; }
  form .relationship {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 10rem 0; }
    form .relationship .relationship-question {
      width: 50%; }
      form .relationship .relationship-question .question-title {
        margin: 0;
        line-height: 1; }
    form .relationship .relationship-inputs {
      width: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    @media (max-width: 850px) {
      form .relationship .relationship-question {
        width: 90%;
        padding: 0; }
      form .relationship .relationship-inputs {
        width: 100%; } }
    @media (max-width: 500px) {
      form .relationship {
        padding: 5rem 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }
  form .mode {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10rem 0; }
    form .mode .mode-inputs {
      width: 40%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    form .mode .mode-question {
      width: 60%;
      text-align: right;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; }
      form .mode .mode-question .mode-main-question, form .mode .mode-question .mode-title {
        display: block; }
      form .mode .mode-question .align-right {
        width: 100%;
        padding-left: 15rem; }
    @media (max-width: 850px) {
      form .mode {
        width: 90%;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start; }
        form .mode .mode-question {
          width: 100%; }
          form .mode .mode-question .align-right {
            padding: 0; } }
  form .tone {
    padding: 10rem 0;
    background-color: lightgrey; }
    form .tone .tone-question {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      form .tone .tone-question h2.tone-title, form .tone .tone-question p.tone-main-question {
        display: block;
        text-align: center; }
      form .tone .tone-question .tone-flexcontainer {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: auto; }
        form .tone .tone-question .tone-flexcontainer .left-tone {
          width: 30%; }
        form .tone .tone-question .tone-flexcontainer .tone-icon {
          width: 40%;
          padding: 2rem;
          text-shadow: 0 0 5px lightgrey; }
          @media (max-width: 900px) {
            form .tone .tone-question .tone-flexcontainer .tone-icon {
              display: none; } }
        form .tone .tone-question .tone-flexcontainer .right-tone {
          width: 25%; }
        @media (max-width: 1050px) {
          form .tone .tone-question .tone-flexcontainer {
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between; }
            form .tone .tone-question .tone-flexcontainer .left-tone, form .tone .tone-question .tone-flexcontainer .right-tone {
              width: 45%; } }
        @media (max-width: 750px) {
          form .tone .tone-question .tone-flexcontainer {
            width: 90%; } }
        @media (max-width: 650px) {
          form .tone .tone-question .tone-flexcontainer {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column; }
            form .tone .tone-question .tone-flexcontainer .left-tone, form .tone .tone-question .tone-flexcontainer .right-tone {
              width: 80%; } }
    form .tone .tone-inputs {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
  form .emphasis {
    padding: 10rem 0; }
    form .emphasis .emphasis-inputs {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; }
      form .emphasis .emphasis-inputs .emphasis.left {
        width: 50%; }
      form .emphasis .emphasis-inputs .emphasis-right {
        width: 50%;
        position: relative; }
        form .emphasis .emphasis-inputs .emphasis-right .emphasis-icon {
          width: 300px;
          position: absolute;
          right: 50%; }
    @media (max-width: 650px) {
      form .emphasis {
        width: 90%; }
        form .emphasis .emphasis-inputs .emphasis-nodec {
          width: 250px; } }
    form .emphasis .submit-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding: 2rem 0; }
      form .emphasis .submit-container .submit-button {
        width: 400px; }
        @media (max-width: 550px) {
          form .emphasis .submit-container .submit-button {
            font-size: 2rem;
            width: 250px;
            background-color: #fae16c;
            color: black; } }

.question-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 1rem 0;
  width: 100%; }
  .question-option .fas, .question-option .fab {
    color: #fae16c;
    text-shadow: 1px 1px 8px darkslategrey; }

@media (max-width: 900px) {
  .question-option, .fas, .fab {
    font-size: 3rem; } }

@media (max-width: 500px) {
  .question-option, .fas, .fab {
    font-size: 2rem; } }

.emphasis-nodec {
  width: 550px; }

input[type=radio] {
  visibility: hidden; }

label {
  cursor: pointer;
  padding: 5px;
  width: 300px;
  font-size: 3rem;
  border-radius: 2px; }
  @media (max-width: 900px) {
    label {
      font-size: 2.5rem;
      background: tomato;
      border-radius: 35% 2rem 2rem 40%;
      -webkit-box-shadow: 2px 0 5px darkslategray;
      box-shadow: 2px 0 5px darkslategray;
      width: 180px; } }
  @media (max-width: 500px) {
    label {
      font-size: 2rem; } }
  label:hover {
    background: tomato;
    border-radius: 35% 2rem 2rem 40%;
    -webkit-box-shadow: 2px 0 5px darkslategray;
    box-shadow: 2px 0 5px darkslategray; }

input:checked + label {
  background: #fae16c;
  border-radius: 35% 2rem 2rem 40%;
  -webkit-box-shadow: 2px 0 5px darkslategray;
  box-shadow: 2px 0 5px darkslategray; }

.final-results {
  background: lightgrey; }
  .final-results .answers {
    font-size: 10rem; }
    .final-results .answers .subtext {
      font-size: 2rem;
      font-weight: lighter;
      line-height: 1.5; }
    @media (max-width: 850px) {
      .final-results .answers {
        font-size: 5rem; }
        .final-results .answers .image {
          width: 90%; } }
    .final-results .answers .relationship-answer {
      padding: 0;
      font-weight: lighter; }
  .final-results .copyright-container {
    background: black;
    color: antiquewhite;
    text-align: center;
    margin: 0; }

html {
  font-size: 62.5%; }

body {
  background: antiquewhite;
  font-family: "Rubik", sans-serif;
  padding: 0;
  margin: 0;
  font-size: 1.6rem; }

.wrapper {
  width: 65%;
  max-width: 1080px;
  margin: 0 auto; }
  @media (max-width: 850px) {
    .wrapper {
      width: 90%; } }

ul {
  list-style: none; }

fieldset {
  border: none; }

hr {
  height: 0.5rem;
  border: none;
  background: mintcream; }

img {
  max-width: 100%;
  width: 100%; }

.relation-question, .mode-main-question, .tone-main-question, .emphasis-main-question {
  font-weight: bold; }
  @media (max-width: 850px) {
    .relation-question, .mode-main-question, .tone-main-question, .emphasis-main-question {
      font-size: 3rem; } }
  @media (max-width: 500px) {
    .relation-question, .mode-main-question, .tone-main-question, .emphasis-main-question {
      font-size: 2.5rem; } }

@media (max-width: 900px) {
  .button, .mobile-edit, .icon {
    display: none; } }

.button, .submit-button {
  width: 300px;
  height: 60px;
  padding: 10px;
  background-color: black;
  border: none;
  border-radius: 20px;
  font-family: "Bangers", cursive;
  font-size: 3rem;
  color: tomato;
  border: 2px solid white;
  letter-spacing: 3px; }

.button:hover, .submit-button:hover {
  background: #fae16c; }
